{% extends "quiz/base.html" %}

{% block meta_title %}Students{% endblock %}
<!-- <!DOCTYPE html>
<html>
<head>
    <title>Students</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="contianer-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Wel Come</a>
        </div>
        <div class="collapse navbar-collapse ">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{user}}</a></li>
                <li><a href="{% url 'account_logout' %}" style="padding-right:1cm;"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>

            </ul>
        </div>
    </div>
</nav> -->
{% block content %}
<div class="container" style="padding-top:50px;">
 <h1>Students List</h1>
 <div>
     {% if students %}
        <ol>{% for student in students %}
            <li><a href="{% url 'quiz_list' student.id %}">{{ student.user }}</li></a>
        {% endfor %}
        </ol>
     {% endif %}
 </div>
 </div>
 {% endblock %}
</body>
</html>