{% extends "quiz/base.html" %}

{% block meta_title %}Login{% endblock %}

{% block content %}
    {% if started and not quiz_relation.completed %}
        <div style="position: fixed;
    right:1%;" id="time"><a></a></div>

        <div class="questions">
        {% if quizquestions %}
        <form>
            <ul>
                {% for question in quizquestions %}
                <div id="question_type" data-type="{{question.question_type}}">

                <li >{{ question.question }}</li>
                        {% if question.question_type == 1 %}
                        <ul>{% for choice in question.choice_set.all %}
                            <li><input type="radio" id="{{choice.pk}}" name="{{choice.id}}" data-question="{{question.pk}}" data-quiz='{{ quiz_test.pk}}' data-name="choice"/>
                            {{ choice.choice }}</li>
                            {% endfor %}
                        </ul><hr>
                        {% else %}
                            <textarea  id="textarea" rows="10" cols="50"
                            data-question='{{ question.pk }}' data-quiz='{{ quiz_test.pk }}'></textarea>
                        <hr>
                        {% endif %}
                    </div>
                {% endfor %}
            </ul>
        </form>
        <button id="submit" type="submit">Submit</button>
        </div>


        {% else %}
<div class="container" style="padding-top:50px;text-align: center;">

            <p>There is no Questions</p>
        {% endif %}

    {% elif ended or quiz_relation.completed %}
        {% if quiz_relation.completed %}
            <div class="ended">
                <div style="text-align:center">
                    <h2 >Thank you for participation.Plese Logout </h2>
                    <p>Number of Questions: {{ result.total_questions }}</p>
                    <p>Number of Attempted: {{ result.questions_attempted }}</p>
                    {% if quiz_relation.result_published %}
                        <h3><a href="{% url 'results'  quiz_test.id user.student.id %}"> Results</h3>
                    {% endif %}
                </div>
            </div>
        {% else %}
        <h1>Exam ended, Better luck next time</h1>
        {% endif %}

    {% else  %}
        <h1>Not yet started</h1>
    {% endif %}


    </div>

</body>
<script type="text/javascript">

    $(document).ready(function(){
        var remaining_seconds, total_minutes, remaining_minutes, hours,

            localtime_start_time = new Date("{{ quiz_test.start_date|date:"Y M d H:i:s" }}"),
            localtime_end_time = new Date("{{ quiz_test.end_date|date:"Y M d H:i:s" }}"),
            present_time = new Date(),
            completed = '{{quiz_relation.completed}}',
            total_seconds_left;
        $('#submit').click(function(){
            var data = {'val':{}}
            var i = 0;
            $('form #question_type').each(function(){

                type = $(this).attr('data-type');

                if (type == 1) {

                    choice_id = $(this).find('input[data-name]:checked').attr('id');
                    var choice = {
                    'choice_id' : choice_id,
                    'question_id' : $(this).find('input[data-name]:checked').attr('data-question'),
                    'question_type': type
                    };
                    data['val'][i] = choice;
                }
                else{
                    a = $(this).find('textarea').val()
                    var choice = {
                    'text_data' : a,
                    'question_id' : $(this).find('textarea').attr('data-question'),
                    'question_type': type
                    };
                    data['val'][i] = choice;
                }
                i = i +1;
            });


        var csrf_token = "{{ csrf_token }}";
        data['csrfmiddlewaretoken'] = csrf_token;
        data['val']=JSON.stringify(data['val']);
        $.ajax({
            method : 'POST',
            url : '.',
            data : data,
            success: function(res) {

                location.reload(true);

            }
        });
    });
        var interval_time = setInterval(function(){
            present_time = new Date();
            seconds_left = Math.floor(
                (localtime_start_time - present_time)/1000);
            if (seconds_left == 0 ) {
                setTimeout(function(){
                    window.location.reload(true);
                },1000);
            }

            total_seconds_left = Math.floor((localtime_end_time - present_time)/1000);
            if(total_seconds_left == 0 ){
                    $("#submit").trigger("click");
                    setTimeout(function(){
                        window.location.reload(true);
                }, 1000);

              //TODO
              }else{
                total_minutes = Math.floor(total_seconds_left/60);
                remaining_seconds = total_seconds_left % 60;
                hours = Math.floor(total_minutes/60);
                remaining_minutes = total_minutes % 60;
                $("#time").removeClass("hide");

                $("#time a").text(hours+" : "+remaining_minutes+" : "+remaining_seconds);
              }
          }, 1000);




       /* $('#text').click(function(){
            var givenanswer = $('#textarea').val();
            var givenquestion = $("#textarea").attr('data-question');
            var quiz = $('input').attr('data-quiz');

            var data = {}
            var csrf_token = "{{ csrf_token }}";
            data['csrfmiddlewaretoken'] = csrf_token
            data['answer'] = givenanswer
            data['question'] = givenquestion
            data['quiz'] = quiz
            $.ajax({
                method : 'POST',
                url : '.',
                data : data,
                success: function() {

                    },
            });
                return data;

        });*/

        /*function updateClock ( ) {
            var currentTime = new Date ( );
            var currentHours = currentTime.getHours ( );
            var currentMinutes = currentTime.getMinutes ( );
            var currentSeconds = currentTime.getSeconds ( );
            var currentTimeString = currentHours + ":" + currentMinutes + ":" + currentSeconds + " " + timeOfDay;
            $("#clock").html(currentTimeString);
        }*/

        var interval = setInterval(function updateClock ( ) {
            var currentTime = new Date ( );
            var day = currentTime.getDate();
            var currentHours = currentTime.getHours ( );
            var currentMinutes = currentTime.getMinutes ( );
            var currentSeconds = currentTime.getSeconds ( );

            ampm =  currentTime.getHours() < 12 ? "AM" : "PM";
            hours = currentTime.getHours() % 12 || 12;

            var Hours = hours + ampm + ":" +  currentMinutes;

            var currentTimeString =  Hours + ":" + currentSeconds;
            $("#clock").html(currentTimeString);

            /*a = quiz_start.split(',');
            if(a[0].split('.')[0] == currentTime.toDateString().split(' ')[1])
            {
                if(parseInt(a[0].split('.')[1]) == parseInt(currentTime.toDateString().split(' ')[2])){
                    if(a[2] == Hours){
                        $("#clock").hide();
                        clearInterval(interval);
                    }

                }
            }*/
        }
        , 1000);


    });

</script>
{% endblock %}
<!-- </html> -->